/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-[100vh] flex flex-col;
  }
} */

@import 'tailwindcss';
/* @config '../../../tailwind.config.mjs'; */
@plugin '@tailwindcss/typography';
/* @plugin 'tailwindcss/animate'; */

@theme {
  --color-blueprint: #006fdc;
  --color-blueprint-foreground: #f0f0f0;

  --color-blueprint-dark: #0a1e3a;
  --color-blueprint-dark-foreground: #d9d9d9;

  --color-blueprint-50: #e7f2fe;
  --color-blueprint-100: #aed9ff;
  --color-blueprint-200: #7dbdff;
  --color-blueprint-300: #4aa3ff;
  --color-blueprint-400: #1a89ff;
  --color-blueprint-500: #006fdc;
  --color-blueprint-600: #0056b4;
  --color-blueprint-700: #003e82;
  --color-blueprint-800: #002551;
  --color-blueprint-900: #000d21;
}

@layer utilities {
  .container {
    @apply w-full mr-auto ml-auto pl-8 pr-8; /* 2rem = 32px */
  }

  .containerLeft {
    @apply w-full mx-auto pl-8; /* 2rem = 32px */
  }

  .containerWidth {
    @apply w-full mx-auto px-8; /* 2rem = 32px */
  }

  @media (min-width: 40rem) {
    .container {
      max-width: 40rem;
      @apply px-4; /* 1rem = 16px */
    }
    .containerLeft {
      max-width: 40rem;
      @apply pl-4; /* 1rem = 16px */
    }
    .containerWidth {
      max-width: 40rem;
      @apply px-4; /* 1rem = 16px */
    }
  }

  @media (min-width: 48rem) {
    .container {
      max-width: 48rem;
      @apply px-8; /* 2rem */
    }
    .containerLeft {
      max-width: 48rem;
      @apply pl-8; /* 2rem */
    }
    .containerWidth {
      max-width: 150rem;
      @apply px-8; /* 2rem */
    }
  }

  @media (min-width: 59rem) {
    .container {
      max-width: 59rem;
    }
    .containerLeft {
      max-width: 59rem;
      @apply pl-8; /* 2rem */
    }
    .containerWidth {
      max-width: 150rem;
      @apply px-8; /* 2rem */
    }
  }

  @media (min-width: 62.5rem) {
    .container {
      max-width: 62.5rem;
    }
    .containerLeft {
      max-width: 62.5rem;
      @apply pl-8; /* 2rem */
    }
  }

  @media (min-width: 78.5rem) {
    .container {
      max-width: 78.5rem;
    }
    .containerLeft {
      max-width: 150rem;
      @apply pl-8; /* 2rem */
    }
    .containerWidth {
      max-width: 100rem;
      @apply px-8; /* 2rem */
    }
  }
}

@layer theme {
  /* .bg-blueprint {
    background-color: var(--color-blueprint);
  }
  .bg-blueprint-foreground {
    background-color: var(--color-blueprint-foreground);
  }
  .bg-blueprint-dark {
    background-color: var(--color-blueprint-dark);
  }
  .bg-blueprint-dark-foreground {
    background-color: var(--color-blueprint-dark-foreground);
  } */
}
